
/* navigation */
#navbar
{
    flex-direction: column;
}

/* HOME SECTION  */
#home
{
    height: 280px;
     
}
#home::before
{
    
}
#services
{
    flex-direction: column ;
}
#services .box
{
    
}

/* clients */
.clients
{
overflow: hidden;
}